/ido.last
/projectile-bookmarks.eld
/recentf
/tramp
/session.*
meghanada
eshell
auto-save-list
ensime
bookmarks
projects
var/pcache
/jira.el
/mu4e.el
/network-security.data
/places
/smex-items
/projectile.cache
url/cache
url/cookies
.cache
eclipse.jdt.ls
workspace
/.org-id-locations
/request/curl-cookie-jar
/.lsp-session-v1
ido.last~
recentf~
/transient/history.el
/magithub/cache
/transient/values.el
/.dap-breakpoints
forge-database.sqlite
/elpa/gnupg/tofu.db
/logview-cache.extmap
epdfinfo
/elpa/telega-20200811.2204/server/telega-server
/%backup%~
/elpa/pdf-tools-20200512.1524/build/
/var/osm/
eln-cache/
elpa/pdf-tools*/build/server/
/forge-*.sqlite
/caldav.el
