/ido.last
/projectile-bookmarks.eld
/recentf
/tramp
/session.*
meghanada
eshell
auto-save-list
ensime
bookmarks
var/pcache
/jira.el
/mu4e.el
/network-security.data
/places
/smex-items
/projectile.cache
url/cache
url/cookies
.cache
eclipse.jdt.ls
workspace
/.org-id-locations
/request/curl-cookie-jar
/.lsp-session-v1
ido.last~
recentf~
/transient/history.el
/magithub/cache
/transient/values.el
/.dap-breakpoints
