[submodule "schemas/xslt-relax-ng"]
	path = schemas/xslt-relax-ng
	url = https://github.com/ndw/xslt-relax-ng.git
[submodule "git/meghanada-emacs"]
	path = git/meghanada-emacs
	url = https://github.com/mopemope/meghanada-emacs
[submodule "git/hide-lines"]
	path = git/hide-lines
	url = https://github.com/vapniks/hide-lines.git
[submodule "git/kubernetes-el"]
	path = git/kubernetes-el
	url = git@github.com:chrisbarrett/kubernetes-el.git
[submodule "git/kubernetes-tramp"]
	path = git/kubernetes-tramp
	url = git@github.com:gruggiero/kubernetes-tramp.git
